@font-face {
    font-family: "product-sans";
    src: url(../assets/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/Roboto-Regular.ttf);
}

* {
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
}

.icons {
    fill: #808080;
}



/* Side Bar Navigation*/
   
aside {
    grid-column: 1 / 2;
    display: grid;
    grid: auto-flow min-content / repeat(1, 1fr);
    position: fixed;
    height: 100%;
    width: 15%;
    overflow: auto;
}

.nav {
    width: 16em;
    padding: 1.23em 0em;
}

.nav p {
    font-size: 1.3rem;
    color: gray;
}

    /* Top of Navigation with logo and hamburger button */

.heading {
    border-bottom: 1px solid #f5f5f5;
    padding: 0 1.5em 0.55em 1.5em;
    padding-bottom: 0.55em;
    font-family: "product-sans", sans-serif;
}

.nav-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73%;
}

.hbg-button {
    fill: gray;
    padding: 0.3em 0.5em 0.2em 0.5em;
    cursor: pointer;
}

.hbg-button svg {
    fill: gray;
}
    /*end*/

    /*Navigation Menu*/

.compose-button {
    display: flex;
    align-items: center;
    background: #ffff;
    margin: 1em 0.4em;
    padding: 1em 1.7em;
    border-radius: 30px;
    border: 1px solid rgba(141, 137, 137, 0.11);
    box-shadow: 0px 2px 2px rgba(141, 137, 137, 0.48);
}

.compose-button img {
    padding-right: 1em;
}

.compose-button a {
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(58 58 58);
    font-family: "product-sans", sans-serif;
}

.nav-menu h4 {
    padding: 1em 1.5em 0.3em 1.5em;
    font-weight: 300;
    font-family: "product-sans", sans-serif;
}

/* .nav-menu {
    padding: 0 1.5em;
} */

.nav-menu ul {
    list-style: none;
}

.nav-menu li {
    width: 93%;
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    margin-left: 0.4em;
    font-size: 0.95rem;
}

.nav-items-num {
    font-family: "Roboto", sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0.2em 0 0.2em 1.5em;
    width: 95%;
    cursor: pointer;
}

.nav-items-num p {
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 0.8em;
    opacity: 0;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items svg {
    margin-right: 0.5em;
    padding-right: 0.1em;
}

.top-nav-section {
    border-bottom: 2px solid rgba(214, 214, 214, 0.452) ;
}

.middle-nav-section {
    border-bottom: 1px solid rgba(214, 214, 214, 0.452) ;
}
    /*end*/

/*end*/


/*main*/
   
main {
    grid-column: 2 / -1;
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
    margin-left: 6%;
    padding-left: 16px;
    font-family: "product-sans", sans-serif;
}

    /*Main Header*/
.main-header {
    width: 85%;
    margin-bottom: 0.3em;
    border-bottom: 1px solid #f5f5f5;
    padding: 0.5em 0;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: #ffff;
}
    /*Search Bar*/
.search-bar {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    width: 46%;
    padding: 0.7em 0.5em;
    border-radius: 5px;
}

.search-bar input {
    width: 92%;
    font-size: 1.1em;
    padding: 0 10px;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "product-sans", sans-serif;
}

.searchbar-buttons {
    padding: 0.3em 0.5em 0.2em 0.5em;
    cursor: pointer;
}

.searchbar-icons {
    fill: #666666;
}
    /*end*/

    /*header-right*/
.header-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 8em;
}

.header-right-buttons {
    padding: 0.3em 0.5em 0.2em 0.5em;
    cursor: pointer;
}

.header-right-icons {
    fill: #666666;
}
    /*second header (the header below the main header)*/
.main-sub-header {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    margin-top: 63.4px;
    padding: 0.62em 0 0.62em 1.3em;
    position: fixed;
    background: white;
    width: 85%;
    border-bottom: 1px solid #f5f5f5;
}

.main-sub-header svg {
    fill: #666666;
    cursor: pointer;
}

.dropdown-checkbox {
    display: flex;
    align-items: center;
}

.subheader-left {
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subheader-right {
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.subheader-right p {
    color: #666666;
    font-size: 0.75rem;
    padding: 0.5em;
    cursor: pointer;
}

    /*mail section*/
.mail-section {
    margin-top: 110px;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
}

.mail {
    background-color: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4em 0;
    border-bottom: 1px solid #ebebeb;
    padding-right: 16px;
    cursor: pointer;
}

.mail-title-n-icons {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mail-icons svg {
    margin-right: 0.5em;
    fill: #bbbbbb;
}

.mail-body {
    width: 75%;
    display: flex;
    align-items: center;
}

.mail-body h5 {
    padding-right: 0.6em;
}

.mail-body p {
    color: #757575;
}

.mail-section {
    padding-left: 1.3em;
}

.date {
    font-size: 0.8rem;
    font-weight: bold;
}

.right-sidenav {
    grid-row: 4 / -1;
    margin-top: 5em;
    display: grid;
    grid: auto-flow min-content / repeat(1, 1fr);
    position: fixed;
    height: 100%;
    width: 15%;
    overflow: auto;
}

.right-sidenav ul {
    list-style: none;
}

/*end*/

/*active state*/

/*nav*/

    /*nav header*/
.hbg-button:hover {
    background-color: #8d89897a;
    border-radius: 40px;
}

    /*compose button*/
.compose-button:hover {
    background-color: #dddddd;
}

    /*nav menu*/
.nav-menu li:hover {
   background-color: #dddddd;
   border-radius: 0 15px 15px 0;
}
    
.nav-menu li:hover p {
   opacity: 100%;
}
        /*active nav*/
.active-nav {
    background-color: #ca00002d;
    border-radius: 0 15px 15px 0;
}

.active-nav svg {
    fill: #ca0000;
}

.active-nav a {
    font-weight: bold;
    color: #ca0000;
}

.active-nav p {
    opacity: 100%;
    color: #ca0000;
}

.active-nav:hover {
    background-color: #ca00002d !important;
    border-radius: 0 15px 15px 0;
}

.active-nav:hover svg {
    fill: #ca0000;
}

.active-nav:hover a {
    font-weight: bold;
    color: #ca0000;
}

.active-nav:hover p {
    opacity: 100%;
    color: #ca0000;
}

/*end*/

/*main*/

    /*header*/
.searchbar-buttons:hover,
.header-right-buttons:hover,
.main-sub-header svg:hover {
    background-color: #dddddd;
    border-radius: 40px;
} 

.subheader-right p:hover {
    background-color: #dddddd;
}

    /*mail section*/
.mail:hover {
   border-top: 1px solid #f5f5f5;
   box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.mail:hover svg {
    fill: #000000;
}
    /*style for when an email has been opened*/
#open {
    background-color: #f5f5f5;
}

#open h5,
#open > .date {
    font-weight: 100;
}

#open > .date {
    color: #9e9e9e;
}

#open:hover {
    border-top: 1px solid #f5f5f5;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
 }